
html {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  color: #666666;
  text-align: center;
}

body {
background: rgb(48,20,99);
background: linear-gradient(90deg, rgb(19, 8, 40) 0%, rgb(37, 4, 87) 35%, rgba(2,13,44,1) 100%);
}

.title {
     background: -webkit-linear-gradient(0deg, rgba(34,193,195,1) 0%, #fd2df6 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    font-size: 115px;
    margin-top: 20px;
}

.main {
    width: 600px;
    height: 680px;
    background-color: #66666620;
    margin: 0 auto;
    margin-top: -90px;
    border-radius: 10px;
    padding: 20px;
}
.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
input {
  /* cursor: none; */
  caret-color: transparent;
}
input:focus {
    outline: none !important;
    border:1px solid white;
    box-shadow: 0 0 7px #ce71c2;
  }
.letter {
    height: 100px;
    width: 110px;
    background-color: rgba(255, 255, 255, 0.009);
    border-radius: 7px;
    border: 1px solid white;
    line-height: 100px;
    font-size: 95px;
    color: white;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}
.green {
    height: 100px;
    width: 110px;
    background-color: rgba(255, 255, 255, 0.009);
    border-radius: 7px;
    border: 1px solid white;
    line-height: 100px;
    font-size: 95px;
    color: green;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}
.keyboard{
    width: 600px;
    height: 300px;
    margin: 20px auto;
}
.key-row {
    display: flex;
    justify-content: space-around;
    vertical-align: middle; 
    margin-bottom: 5px;
}
.key {
    color: white;
    height: 40px;
    width: 50px;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 20px;
    line-height: 40px;
   
}
#enter, #back {
    width: 75px;
}

.popup-overlay {
  /*Hides pop-up when there is no "active" class*/
  visibility: hidden;
  position: absolute;
  top: 10px;
  right: 10px;
  background: #ffffff;
  border-radius: 10px;
  width: 25%;
  height: 50%;
  left: 72%;
}

.popup-overlay.active {
  /*displays pop-up when "active" class is present*/
  visibility: visible;
  text-align:left;
 
}

.popup-content {
  /*Hides pop-up content when there is no "active" class */
  visibility: hidden;
  color: rgb(0, 0, 0);
  padding: 20px;
  line-height: 1.5;
}

.popup-content.active {
  /*Shows pop-up content when "active" class is present */
  visibility: visible;
}

button {
  position: absolute;
  top: 10px;
  right: 10px;
  float: right;
  border-radius: 5px;
  margin: 40px;
  font-size: 40px;
  color: #ffffff;
  background: #ffffff00;
  border: 1px solid #ffffff;
  padding: 10px;
}

button:hover {
  border: 1px solid #ffffff;
  background: #ffffff;
  color: rgba(48,20,99,1);
}