
html {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 100%;
  color: #666666;
  text-align: center;
}

body {
background-color: rgb(13, 13, 13);  
}

html, body {
    max-width: 100%;
    overflow-x: hidden;}

nav {
  height: 180px;
  display: inline;
}

.title {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 300%;
    -webkit-background-clip: text;
    background-clip: text;
	  -webkit-text-fill-color: transparent;
	animation: glow 10s ease-in-out infinite;
  font-size: 115px;
  margin-top: 20px;
}

@keyframes glow {
	0% { background-position: 0px 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0px 50%; }
}

.desktop {
  position: relative;
  margin-top: -140px;
  left: 192px;
  color: rgb(203, 202, 202);
  font-size: 18px;
}

.main {
    width: 600px;
    height: 680px;
    background-color: #66666620;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;  
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

input {
  caret-color: transparent;
}

.box {
  border-radius: 7px;
  position: relative;
}

input:focus {
    outline: none !important;
    border:1px solid white;
    box-shadow: 0 0 7px #ce71c2;
  }

.letter {
    height: 100px;
    width: 110px;
    background-color: rgba(255, 255, 255, 0.009);
    border-radius: 7px;
    border: 1px solid white;
    line-height: 100px;
    font-size: 95px;
    color: white;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}

.green {
    height: 100px;
    width: 110px;
    background-color: rgba(255, 255, 255, 0.009);
    border-radius: 7px;
    border: 1px solid white;
    line-height: 100px;
    font-size: 95px;
    color: green;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}

.keyboard{
    width: 600px;
    margin: 20px auto;
}

.key-row {
    display: flex;
    justify-content: space-around;
    vertical-align: middle; 
    margin-bottom: 5px;
}

.key {
    color: white;
    height: 40px;
    width: 50px;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 20px;
    line-height: 40px;
}

#enter, #back {
    width: 75px;
}

.popup-overlay {
  /*Hides pop-up when there is no "active" class*/
  visibility: hidden;
  position: absolute;
  top: 25px;
  right: 25px;
  background: #ffffff;
  border-radius: 10px;
  padding: 60px 40px;
  left: 72%;
}

.popup-overlay.active {
  /*displays pop-up when "active" class is present*/
  visibility: visible;
  text-align:left;
}

.popup-content {
  /*Hides pop-up content when there is no "active" class */
  visibility: hidden;
  color: rgb(0, 0, 0);
  line-height: 1.5;
}

.popup-content.active {
  /*Shows pop-up content when "active" class is present */
  visibility: visible;
}

.open , .mode {
  position: absolute;
  top: 10px;
  right: 10px;
  float: right;
  border-radius: 5px;
  margin: 40px;
  font-size: 40px;
  color: #ffffff;
  background: #ffffff00;
  border: 1px solid #ffffff;
  padding: 10px;
}

.mode {
  font-size: 20px;
  right: 70px;
  border-radius: 30px;
  cursor: pointer;
}

.open:hover {
  border: 1px solid #ffffff;
  background: #ffffff;
  color: rgba(48,20,99,1);
}
.close {
  position: absolute;
  top: 2px;
  right: 2px;
  float: right;
  border-radius: 5px;
  margin: 40px;
  font-size: 20px;
  color: white;
  background: #0f0232;
  border: 1px solid #ffffff;
  padding: 10px;
  z-index: 1;
}

.endgame-overlay {
  /*Hides pop-up when there is no "active" class*/
  visibility: hidden;
  position: absolute;
  top: 30%;
  left: 25%;
  background: #ffffff;
  border-radius: 10px;
  width: 50%;
  z-index: 9999;
  
}
.lost-overlay {
  /*Hides pop-up when there is no "active" class*/
  visibility: hidden;
  position: absolute;
  top: 30%;
  left: 25%;
  background: #ffffff;
  border-radius: 10px;
  width: 50%; 
  z-index: 9999;
}

.endgame-overlay.active {
  /*displays pop-up when "active" class is present*/
  visibility: visible;
  text-align:left;
  height: 400px;
  
}
.lost-overlay.active {
  /*displays pop-up when "active" class is present*/
  visibility: visible;
  text-align:left;
  height: 400px;
  
}

.endgame-content {
  /*Hides pop-up content when there is no "active" class */
  visibility: hidden;
  color: rgb(0, 0, 0);
  padding: 20px 40px;
  line-height: 1.5;
}
.lost-content {
  /*Hides pop-up content when there is no "active" class */
  visibility: hidden;
  color: rgb(0, 0, 0);
  padding: 20px 40px;
  line-height: 1.5;
}

.endgame-content.active{
  /*Shows pop-up content when "active" class is present */
  visibility: visible;
}

.lost-content.active{
  visibility: visible;
  
}
.title-gameover{
   background: -webkit-linear-gradient(0deg, rgba(34,193,195,1) 0%, #fd2df6 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    font-size: 75px;
    line-height: 90px;
    text-align: center;
}

.wordle {
  background: -webkit-linear-gradient(0deg, rgba(34,193,195,1) 0%, #fd2df6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.green-word {
  color: #57E292;
  font-weight: 600;
}

.yellow-word {
  color: #FFD133;
  font-weight: 600;
}

.grey-word {
  color: grey;
  font-weight: 600;
}

.right-word {
  text-align: center;
  color: #57E292;
  font-size: 28px;
  font-weight: 700;
  margin-top: -20px;
  margin-bottom: 10px;
}

.subtitle  {
  font-size: 18px;
  text-align: center;
  margin-top: -55px;
}

.endgame-text {
    font-size: 18px;
  text-align: center;
  margin-top: -15px;
}

.for-button{
  text-align: center;
}

.restart-btn {
  background-color: #0f0232;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px 40px;
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
}

.restart-btn:hover {
  box-shadow: 0 0 7px #ce71c2;;
}

/* DIFFERENT SCREENS */

@media  (max-width: 1280px) {
 
.main {
    width: 400px;
    height: 480px;
}
.letter {
    height: 70px;
    width: 70px;
    line-height: 100px;
    font-size: 95px;
    font-weight: 500;
}
.title {
  font-size: 85px;
}
}

#myVideo {
  display: none;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

/* 24 INCH SCREEN  */
@media (max-width: 1920px) {
 
  .main {
    height: 500px;
    width: 430px;
    padding: 15px;
  }
  .row {
    margin-bottom: 5px;
  }
  .letter{
    height: 75px;
    width: 75px;
    font-size: 70px;
  }
}
/* 13 INCH MACBOOK PRO */
@media (max-width: 1680px) {
.title {
  margin-top: -10px;
};
}

/* Not for mobile devices! */
/* KEYFRAMES FOR JQUERY GREEN LETTERS */
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
